<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>AtbikA Loans</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto:wght@500;700&display=swap"
        rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/static/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/static/css/style.css" rel="stylesheet">
    <link href="/static/style.css" rel="stylesheet">

</head>

<body>
    <div class="container-fluid position-relative d-flex p-0">
        <!-- Spinner Start -->
        <div id="spinner"
            class="show bg-dark position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->


        <!-- Sidebar Start -->
        <div class="sidebar pe-4 pb-3">
            <nav class="navbar bs-gray-dark navbar-dark">
                <a href="home.html" class="navbar-brand mx-4 mb-3">
                    <img src="/static/img/logo.png" height="85" style="margin-top: 20px;">
                </a>
                <div class="d-flex align-items-center ms-4 mb-4 img1">
                    <div class="position-relative">
                        <img class="rounded-circle" src="/static/img/emp.jpeg" alt="" style="width: 60px; height: 60px;">
                        <div
                            class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1" id="hide">
                        </div>
                    </div>
                    <div class="ms-3">
                        <h5 class="mb-0">{{emp}}</h5>
                        <span>Employee</span>
                    </div>
                </div>
                <div class="navbar-nav w-100">
                    <a href="/home" class="nav-item nav-link"><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
                    <a href="/loans" class="nav-item nav-link"><i class="fa fa-receipt me-2"></i>Loans</a>
                    <a href="/payments" class="nav-item nav-link"><i
                            class="fa fa-dollar-sign me-2"></i>Payments</a>
                    <a href="/borrowers" class="nav-item nav-link"><i class="fa fa-user me-2"></i>Borrowers</a>
                    <a href="/loanplans" class="nav-item nav-link"><i class="fa fa-calendar me-2"></i>Loan Plans</a>
                    <a href="/loantypes" class="nav-item nav-link active"><i class="fa fa-table me-2"></i>Loan Types</a>
                    <a href="/" class="nav-item nav-link"><i class="fa fa-sign-out-alt me-2"></i>Logout</a>
                </div>
            </nav>
        </div>
        <!-- Sidebar End -->


        <!-- Content Start -->
        <div class="content">
            <dialog id="favDialog" class="bg-secondary"
                style="border: 1px solid white;border-radius: 20px; padding: 50px; color: white;">
                <form action="/loantypes" method="post">
                    <h5 style="text-align:center; text-transform: uppercase;">New Loan Type</h5>
                        <p>
                            <label>Loan name<br>
                                <input type="text" id="type4" name="l_name">
                            </label>
                            <br>
                            <label>Description<br>
                                <textarea id="description3" rows="4" cols="50" name="l_desc"></textarea>
                            </label><br>
                            <label>Interest rate<br>
                                <input type="number" id="type1" name="l_int_rate">
                            </label>
                            <br>
                            <label>Max amount<br>
                                <input type="number" id="type2" name="max_amt">
                            </label>
                            <br>
                        </p>
                        <div style="text-align: center;">
                            <button class="btn btn-danger m-2" value="cancel" formmethod="dialog">Cancel</button>
                            <button class="btn btn-success m-2" id="confirmBtn" value="default" type="submit">Confirm</button>
                        </div>
                </form>
            </dialog>

            <dialog id="editDialog" class="bg-secondary"
                style="border: 1px solid white;border-radius: 20px; padding: 50px; color: white;">
                <form>
                    <h5 style="text-align:center; text-transform: uppercase;">Edit Type</h1>
                        <p>
                            <label>Type<br>
                                <input type="text" id="type">
                            </label>
                            <br>
                            <label>Description<br>
                                <textarea id="description" rows="4" cols="50"></textarea>
                            </label><br>
                        </p>
                        <div style="text-align: center;">
                            <button class="btn btn-danger m-2" value="cancel" formmethod="dialog">Cancel</button>
                            <button class="btn btn-success m-2" id="confirmBtn" value="default">Confirm</button>
                        </div>
                </form>
            </dialog>


            <!-- Navbar Start -->
            <nav class="navbar navbar-expand bg-secondary navbar-dark sticky-top px-4 py-0">
                <a href="home.html" class="navbar-brand d-flex d-lg-none me-4">
                    <h2 class="text-primary mb-0"><i class="fa fa-user-edit"></i></h2>
                </a>
                <a href="#" class="sidebar-toggler flex-shrink-0">
                    <i class="fa fa-bars"></i>
                </a>
            </nav>
            <!-- Navbar End -->


            <div class="col-sm-12 col-xl-12">
                <div class="bg-secondary rounded h-100 p-4">
                    <h6 class="mb-4">Loan Type List
                        <button id="showDialog" type="button" class="btn btn-outline-success m-2">
                            <i class="fa fa-plus me-2"></i>New Loan Type
                        </button>
                    </h6>
                    <table class="table table-dark" style="vertical-align: middle;">
                        <thead>
                            <tr>
                                <th scope="col">S.No</th>
                                <th scope="col">Name</th>
                                <th scope="col">Description</th>
                                <th scope="col">Interest rate</th>
                                <th scope="col">Penalty rate</th>
                                <th scope="col">Loan limit</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for i in loantypes %}
                            <tr>
                                <th scope="row">{{loantypes.index(i)+1}}</th>
                                <td>
                                    {{i.loty_name}}
                                </td>
                                <td>
                                    {{i.desc}}
                                </td>
                                <td>
                                    {{i.int_rate}}
                                </td>
                                <td>
                                    {{i.penalty_rate}}
                                </td>
                                <td>
                                    {{i.maxloan_amt}}
                                </td>
                                <td>

                                    <a href="/loantypes/{{i.loty_id}}/delete"><button type="button" class="btn btn-square btn-primary m-2"><i
                                            class="fa fa-trash"></i></button></a>
                                </td>

                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>


            <!-- Content End -->
        </div>

        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
        <script src="/static/lib/chart/chart.min.js"></script>
        <script src="/static/lib/easing/easing.min.js"></script>
        <script src="/static/lib/waypoints/waypoints.min.js"></script>
        <script src="/static/lib/owlcarousel/owl.carousel.min.js"></script>
        <script src="/static/lib/tempusdominus/js/moment.min.js"></script>
        <script src="/static/lib/tempusdominus/js/moment-timezone.min.js"></script>
        <script src="/static/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

        <script>
            const showButton = document.getElementById('showDialog');
            const favDialog = document.getElementById('favDialog');
            const outputBox = document.querySelector('output');
            const selectEl = favDialog.querySelector('select');
            const confirmBtn = favDialog.querySelector('#confirmBtn');

            // "Show the dialog" button opens the <dialog> modally
            showButton.addEventListener('click', () => {
                favDialog.showModal();
            });

            // "Favorite animal" input sets the value of the submit button
            selectEl.addEventListener('change', (e) => {
                confirmBtn.value = selectEl.value;
            });

            // "Cancel" button closes the dialog without submitting because of [formmethod="dialog"], triggering a close event.
            favDialog.addEventListener('close', (e) => {
                outputBox.value = favDialog.returnValue === 'default' ? "No return value." : `ReturnValue: ${favDialog.returnValue}.`; // Have to check for "default" rather than empty string
            });

            // Prevent the "confirm" button from the default behavior of submitting the form, and close the dialog with the `close()` method, which triggers the "close" event.
            confirmBtn.addEventListener('click', (event) => {
                favDialog.close(selectEl.value); // Have to send the select box value here.
            });
        </script>

        <script>
            const shownewButton = document.getElementById('showNewDialog');
            const editDialog = document.getElementById('editDialog');
            const outputBox2 = document.querySelector('output');
            const selectEl2 = editDialog.querySelector('select');
            const confirmBtn2 = editDialog.querySelector('#confirmBtn2');

            // "Show the dialog" button opens the <dialog> modally
            shownewButton.addEventListener('click', () => {
                editDialog.showModal();
            });

            // "Favorite animal" input sets the value of the submit button
            selectEl2.addEventListener('change', (e) => {
                confirmBtn2.value = selectEl2.value;
            });

            // "Cancel" button closes the dialog without submitting because of [formmethod="dialog"], triggering a close event.
            editDialog.addEventListener('close', (e) => {
                outputBox2.value = editDialog.returnValue === 'default' ? "No return value." : `ReturnValue: ${editDialog.returnValue}.`; // Have to check for "default" rather than empty string
            });

            // Prevent the "confirm" button from the default behavior of submitting the form, and close the dialog with the `close()` method, which triggers the "close" event.
            confirmBtn2.addEventListener('click', (event) => {
                editDialog.close(selectEl2.value); // Have to send the select box value here.
            });
        </script>

        <!-- Template Javascript -->
        <script src="/static/js/main.js"></script>
</body>

</html>